// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.1\
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "enabled": true,
  "shape": "Square",
  "position": "TopRight",
  "showFps": false,
  "showBiome": true,
  "showLocation": true,
  "sizePercent": 35,
  "frameAlpha": 0,
  "terrainAlpha": 100,
  "orientation": "North",
  "compassFontScale": 1,
  "showCompass": false,
  "showReticle": false,
  "reticleOrientation": "Compass",
  "preferredMapType": "day",
  "active": true,
  "showCaves": true,
  "fontScale": 2,
  "textureSmall": true,
  "showWaypointLabels": false,
  "locationFormatVerbose": true,
  "locationFormat": "xyz",
  "showMobHeading": false,
  "showPlayerHeading": true,
  "showMobs": false,
  "showAnimals": false,
  "showVillagers": false,
  "showPets": false,
  "showPlayers": false,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": false,
  "entityIconSetName": "2D",
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}