// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.1\
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "logLevel": "ERROR",
  "autoMapPoll": 2000,
  "cacheAnimalsData": 10000,
  "cacheMobsData": 10000,
  "cachePlayerData": 2000,
  "cachePlayersData": 10000,
  "cacheVillagersData": 10000,
  "announceMod": false,
  "checkUpdates": false,
  "recordCacheStats": false,
  "browserPoll": 10000,
  "themeName": "Purist",
  "caveIgnoreGlass": true,
  "mapBathymetry": true,
  "mapTransparency": true,
  "mapCaveLighting": false,
  "mapAntialiasing": true,
  "mapPlantShadows": false,
  "mapPlants": false,
  "mapCrops": true,
  "mapSurfaceAboveCaves": true,
  "renderDistanceCaveMin": 1,
  "renderDistanceCaveMax": 1,
  "renderDistanceSurfaceMin": 1,
  "renderDistanceSurfaceMax": 2,
  "renderDelay": 10,
  "revealShape": "Square",
  "alwaysMapCaves": false,
  "alwaysMapSurface": true,
  "tileHighDisplayQuality": true,
  "maxAnimalsData": 1,
  "maxMobsData": 1,
  "maxPlayersData": 10,
  "maxVillagersData": 1,
  "hideSneakingEntities": false,
  "radarLateralDistance": 64,
  "radarVerticalDistance": 16,
  "tileRenderType": 1,
  "gridSpecs": {
    "day": {
      "style": "Squares",
      "red": 0.5019608,
      "green": 0.5019608,
      "blue": 0.5019608,
      "alpha": 0.24,
      "colorX": -1,
      "colorY": -1
    },
    "night": {
      "style": "Squares",
      "red": 0.5019608,
      "green": 0.5019608,
      "blue": 0.5019608,
      "alpha": 0.51,
      "colorX": -1,
      "colorY": -1
    },
    "underground": {
      "style": "Squares",
      "red": 0.5,
      "green": 0.5,
      "blue": 0.5,
      "alpha": 0.3,
      "colorX": -1,
      "colorY": -1
    }
  },
  "mappingEnabled": false,
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": true,
  "optionsManagerViewed": "5.1.4p2",
  "splashViewed": "5.1.4p2",
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}