#Multipart API config file

debug_asm=false

#Set to true to use mc style icons for the saw instead of the 3D model
useSawIcons=true

sawArdite
{
	durability=2425
}

sawCobalt
{
	durability=3200
}

sawDiamond
{
	durability=1024
}

sawIron
{
	durability=512
}

sawManyullyn
{
	durability=4800
}

sawStone
{
	durability=256
}
