# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=fccb8293-8d6e-4b29-966a-18e7328e5bbe

    # Set to true to disable all reporting
    B:opt-out=true
}


